{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/todos.css' %}">
  </head>
  <body>
    <header>
        <nav>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <div class="django_tag">
            <p>django one-shot</p>
            <p>Copyright 2024 sjpstudentsjanpt</p>
            <div class="legal">
                <p><a href="">Legal Stuff</a> | <a href="">Privacy Policy</a>  |   <a href="">Security</a></p>
            </div>
    </footer>
  </body>
</html>
